.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.px-1 {
  background-color: transparent;
}

.card img {
  max-height: 400px;
}

.my-dropdown {
  padding: 0!important;
  width: 100%;
}

.col-md-6 {
  margin-right: auto;
  margin-left: auto;
}

.react-numeric-input {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.react-numeric-input input {
  width: 100%;
}


.cursor {
  cursor: pointer;
}